extends layout

block content

  div.container
    p 
      a(href="/new")= "New Message" 
    h1.title= title
    each message in messages
      ul.user-message 
        li= message.added
        li= message.user
        li= message.text